/*Jordi */

#bat {
    list-style:none;
    margin:0;
    padding:0;
}
#bat li {
    margin:2px;
    padding:0; 
    float:left;
}
#guapo {
    width:100px;
    padding:35px 60px;
    text-decoration:none ;
    text-align:center;
    color:#FFFFFF;
    background-image: url(flex.jpg);
    background-repeat: no-repeat;
}

#burru {
    width:100px;
    padding:35px 60px;
    text-decoration:none ;
    text-align:center;
    color:#FFFFFF;
    background-image: url(flex2.jpg);
    background-repeat: no-repeat;
}

button.jordi{
    border: 0;
    background: white;
}

select{
    background-color: whitesmoke;
    color: silver;
    border-radius: 10px;
}
select:hover{
    border-color: #5882FA
}
input.jordi {
    color: black;
    margin: 5px;
    cursor: pointer;
    background-color: whitesmoke;
    color: silver;
    border-radius: 7px;
}
input:hover {
    border-color: #5882FA
}
#create{
    padding: 10px 10px;
    font-family: Verdana;
    font-size: 14px;
    background-color: #08298A;
    color: white;
    border-radius: 15px;
    font-weight: bold;
}
#reset{
    padding: 10px 10px;
    font-family: Verdana;
    font-size: 14px;
    background-color: #08298A;
    color: white;
    margin: 5px;
    border-radius: 15px;
    font-weight: bold;
}
#continue {
    padding: 10px 10px;
    font-family: Verdana;
    font-size: 14px;
    background-color: #08298A;
    color: white;
    border-radius: 15px;
    font-weight: bold;
    border-color: #5882FA;
}
#image{
    padding: 10 10;
    font-family: Verdana;
    font-size: 14;
    background-color: #08298A;
    color: white;
    border-radius: 15px;
    font-weight: bold;
}
/*span {
color: red;
}*/
p.hover {
    background: #ccc;
}
h1 {
    margin-top: 100px;
}

/*Anna*/
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand{
    margin-left: 0px;
}
#logo{
    display: block; height: 50px; margin-top: -15px; margin-left: -15px;
}

#turu{
    top: -40px;
    position: relative;
    margin: 50px 100px;
    background-color: white;
    border-radius: 4px;
    width: 1000px;
    padding: 10px;
}
h2, h3{
    color:darkblue;
}
h2{
    text-align:center; 
    padding-top:10px;
    margin-top:0px;
}
#userApply h4{
    border-bottom: 0px none;
}
#showAll, #cSector, #cCompany, #cPosition, #applyButton {
    display:none;
} 
.searchOptions{
    margin:auto;
}
.searchOptions button{
    width: 22%;
    margin: 0px 10px;
    box-shadow: 2px 2px 5px #888888;
    padding:3px;
}
.applyButton{
    padding: 5px 10px;
    font-weight: bold;
    box-shadow: 2px 2px 5px rgb(136, 136, 136);
}
.click{
    display:block;
}
.modal-title{
    color:darkblue;
}

/*Juan Fran*/
.back{
    position: relative;
    display: inline;
    padding: 10px 15px;
    line-height: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #777;
    list-style: none;
    text-decoration: none;
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}
.back:hover, .back:focus{
    color: #333;
    text-decoration: none;
}
.title{
    font-size: 30px;
    color: #000168;
    padding: 10px;
    display:inline;
}

h3 {
    font-size: 20px;
    color: #000168;
    padding: 10px;
}

h4{
    color: #000168;
    padding: 10px;
    border-bottom: 1px solid #000168;
    width: 80%;
    text-align: center;
    margin: auto;
}

#create-group-button {
    display: inline;
    position: absolute;
    margin-left: 40%;
}
#left-sidebar {
    position: relative;
    margin-top: 5%;
    margin-left: 1%;
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
    width: 20%;
    min-height: 300px;
    float: left;
    margin-right: 2%;
    padding:10px;
}

#page {
    position: relative;
    width: 53%;
    min-height: 100%;
    margin-left:auto;
    margin-right: auto;
    float: left;
    margin-top: 5%;
}
#right-sidebar {
    position: relative;
    margin-top: 5%;
    margin-right: 1%;
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
    width: 20%;
    min-height: 300px;
    float: left;
    margin-left: 2%;
}
input[type="checkbox"]{
    width: 15px;
    height: 15px;
}
.modal-title {
    margin: 0;
    line-height: 1.42857143;
    color: white;
}
.modal-header, .modal-footer {
    background-color: rgba(0, 0, 104, 0.91);
}
.form-control{
    width: 80%;
}
.modal-body {
    background-color: #F8F8F8;
}
.Congrats-text{
    font-size: 20px;
}
textarea {
    resize: none;
    display: block;
    width: 100%;
    margin: auto;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;

}
.posts {
    margin: auto;
    width: 50%;
}
.post {
    border: none;
    background-color: white;
    display: inline-block;
}
#postDIV{
    border-style: solid;
    border-width: 1px;
    padding: 10px;
}
.postcommentbutton {
    margin-bottom: 10px;
}
.showcommentform {
    /*border: none;
    background-color: white;
    color: blue;
    outline: none;*/
    background: rgb(128, 191, 255);
    border-radius: 5px;
}
.comments{
    border-style: solid;
    border-width: 1px;
    margin: 10px;
    padding:10px;
    background: rgb(128, 191, 255) none repeat scroll 0% 0%;
}
.commentlist {
    margin-left: 50px;
}
#GroupList {
    margin-left: 50px;
}
.group{
    list-style-type: none;
    padding: 10px;
    width: 20%;
}
.group-link:link, .group-link:visited, .group-link:hover, .group-link:active {
    border: 1px solid #F8F8F8;
    border-radius: 5px;
    color: black;
    background-color: #F8F8F8;
    padding: 10px;
    display:block;
    width: 100%;
}
#characters {
    border: none;
    background-color: white;
    width: 30px;
}

#content {
    position: relative;
    background-color: white;
    border-radius: 5px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    margin-top:5%;
    min-height: 100%;
}
.SuggestionList li a, .post-author a{
    color: #000168;
}
.SuggestionList li a:link {
    color: black;
}
.SuggestionList {
    width: 85%;
    text-align: center;
    overflow: hidden;
}
.SuggestionList li {
    list-style-type: none;
    padding: 1%;
}
.InvitationList {
    padding: 20px 70px;
    list-style-type: none;
}
.InvitationList li {
    margin-bottom: 1%;

    padding: 2%;
    width: 40%;
    border: 1px solid #F8F8F8;
    border-radius: 5px;
    background-color: #F8F8F8;

}
.InvitationList li button{
    margin-left: 1%;
    float: right;
}
#dashboard {
    padding: 10px;
}
#post-list{
    padding: 10px;
}
#post-list li {
    list-style-type: none;
    padding: 10px;
    border: 1px solid #000168;
    border-radius: 5px;
    margin-bottom: 5px;
}
#NumberOfFR, #NumberOfGI {
    margin-left: 5%;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    padding: 1%;
    color: white;
}
.interactionMenu {
    list-style-type: none;
    padding-left: 0px;
}
.interactionMenu li{
    padding: 5%;
}


/* Asier */
.button{     
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.one {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
}

.one:hover {
    background-color: #008CBA;
    color: white;
}

#asier{
    margin-top: 50px;
    padding: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
div.img {
    margin: 5px;
    float: left;
    border: 5px solid #00FFFF;
}
.connection-suggestion-placeholder {
    min-height: 100px;
}
.companies-to-follow-placeholder {
    min-height: 100px;
}

#make-post-form {
    border-radius: 4px;
    background-color: white;
    padding: 10px;
    margin-bottom: 2%;
}

#dashboard {
    border-radius: 4px;
    background-color: white;
    min-height: 900px;
}

#post-btn {
    margin-left: 90%;
}
body{
    background-color: rgba(179, 179, 179, 0.84);
    height: 100%;
}
html{
    height: 100%;
}

